<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kaleyra.collaboration_suite_core_ui">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>
        <service
            android:name=".CallService"
            android:foregroundServiceType="phoneCall|mediaProjection|camera|microphone" />

        <receiver
            android:name=".notification.CallNotificationActionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.kaleyra.collaboration_suite_core_ui.HANGUP" />
                <action android:name="com.kaleyra.collaboration_suite_core_ui.ANSWER" />
                <action android:name="com.kaleyra.collaboration_suite_core_ui.STOP_SCREEN_SHARE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".notification.ChatNotificationActionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.kaleyra.collaboration_suite_core_ui.REPLY" />
                <action android:name="com.kaleyra.collaboration_suite_core_ui.MARK_AS_READ" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".notification.DisplayedChatActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.kaleyra.collaboration_suite_core_ui.CHAT_OPEN" />
                <action android:name="com.kaleyra.collaboration_suite_core_ui.CHAT_CLOSE" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.kaleyra.collaboration_suite_core_ui.eula.AutoDismissNotification"/>
    </application>

</manifest>