<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright 2023 Kaleyra @ https://www.kaleyra.com
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_PHONE_CALL" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <application>
        <service
            android:name=".CallService"
            android:foregroundServiceType="phoneCall|mediaProjection|camera|microphone" />

        <receiver
            android:name=".notification.CallNotificationActionReceiver"
            android:exported="false">
        </receiver>
        <receiver
            android:name=".notification.ChatNotificationActionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.kaleyra.video_common_ui.REPLY" />
                <action android:name="com.kaleyra.video_common_ui.MARK_AS_READ" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".notification.DisplayedChatActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.kaleyra.video_common_ui.CHAT_OPEN" />
                <action android:name="com.kaleyra.video_common_ui.CHAT_CLOSE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".notification.fileshare.FileShareNotificationActionReceiver"
            android:exported="false">
        </receiver>
        <receiver
            android:name=".notification.fileshare.FileShareVisibilityObserver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.kaleyra.video_common_ui.FILE_SHARE_DISPLAYED" />
                <action android:name="com.kaleyra.video_common_ui.FILE_SHARE_NOT_DISPLAYED" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.kaleyra.video_common_ui.termsandconditions.notification.NotificationDisposer"/>
    </application>

</manifest>