<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bandyer.video_android_glass_ui">

    <application>
        <activity
            android:name="com.bandyer.video_android_glass_ui.GlassCallActivity"
            android:taskAffinity="com.bandyer.video_android_glass_ui.GlassActivity"
            android:theme="@style/BandyerSDKDesign.Theme.DayNight.GlassCall" />
        <!--    TODO remove this after CallService is moved somewhere else -->
        <service
            android:name="com.bandyer.video_android_glass_ui.CallService"
            android:foregroundServiceType="phoneCall|mediaProjection|camera|microphone" />
    </application>

</manifest>