<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bandyer.app_design">

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.bandyer.app_design.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/DesignDemoApp">
        <meta-data
            android:name="com.google.android.glass.TouchEnabledApplication"
            android:value="true" />

        <activity android:name="com.bandyer.app_design.RingingActivity" />
        <activity
            android:name="com.bandyer.app_design.BluetoothAudioRouteActivity"
            android:theme="@style/BandyerSDKDesign.Theme.Call" />
        <activity
            android:name="com.bandyer.app_design.CallActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:supportsPictureInPicture="true"
            android:launchMode="singleInstance"
            android:theme="@style/BandyerSDKDesign.Theme.Call"
            tools:targetApi="n" />
        <activity
            android:exported="true"
            android:name="com.bandyer.app_design.MainActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:theme="@style/BandyerSDKDesign.Theme.Call">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bandyer.app_design.ChatActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboard|keyboardHidden|navigation"
            android:launchMode="singleInstance"
            android:theme="@style/BandyerSDKDesign.Theme.Chat" />
        <activity
            android:name="com.bandyer.app_design.PointerActivity"
            android:theme="@style/BandyerSDKDesign.Theme.Call" />
        <activity
            android:name="com.bandyer.video_android_glass_ui.GlassActivity"
            android:theme="@style/BandyerSDKDesign.Theme.DayNight.GlassCall" >
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--                <category android:name="com.google.android.glass.category.DIRECTORY"/>-->
<!--            </intent-filter>-->
        </activity>
    </application>

</manifest>